<!-- app/views/emotion_logs/_playlist_modal.html.erb -->
<div class="modal fade show playlist-modal-visible"
     id="playlist-modal"
     tabindex="-1"
     data-controller="playlist-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_with model: playlist, url: playlists_path, data: { turbo: true }, html: { id: "playlist-form" } do |f| %>
        <div class="modal-header">
          <h5 class="modal-title">プレイリスト名を入力</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
        </div>
        <div class="modal-body">
          <%= f.label :name, "プレイリスト名" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="modal-footer">
          <div id="selected-log-ids"></div>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
          <%= f.submit "作成", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
