<%= turbo_stream.replace "modal-container" do %>
  <div
    class="modal fade"
    id="modal-container"
    tabindex="-1"
    data-controller="modal"
  >
    <div class="modal-dialog">
      <div class="modal-content" id="modal-content">
        <%= render "search_form", emotion_log: @emotion_log %>
      </div>
    </div>
  </div>
<% end %>