<!-- app/views/emotion_logs/new.turbo_stream.erb 等 -->
<%= turbo_stream.update "modal-container" do %>
  <div id="record-modal"
       class="modal fade"
       tabindex="-1"
       data-controller="modal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" id="modal-content">
        <%= render(@emotion_log.track_name.present? ? "form" : "search_form",
                   emotion_log: @emotion_log) %>
      </div>
    </div>
  </div>
<% end %>
