<%= turbo_stream.update "notifications-modal-container" do %>
  <div id="notifications-modal" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-sm-down modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title m-0">通知</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
        </div>
        <div class="modal-body p-0">
          <%= turbo_frame_tag "notifications-modal-frame",
                src: modal_page_notifications_path(page: (params[:page] || 1)) %>
        </div>
      </div>
    </div>
  </div>

  <script nonce="<%= content_security_policy_nonce %>">
    (function () {
      var el = document.getElementById('notifications-modal');
      if (el && window.bootstrap) {
        var modal = window.bootstrap.Modal.getOrCreateInstance(el, { backdrop: true, keyboard: true });
        modal.show();
        el.addEventListener('hidden.bs.modal', function() {
          try { modal.dispose(); } catch(e) {}
          var c = document.getElementById('notifications-modal-container');
          if (c) c.innerHTML = '';
        });
      }
    })();
  </script>
<% end %>
